* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans serif;
}

header {
  display: flex;
  background: rgb(29, 47, 85);
  width: 90%;
  margin: auto;
  color: rgb(223, 221, 221);
}

.nav-link {
  text-decoration: none;
  color: rgb(223, 221, 221);
}
